* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    background-color: #F1F6F9;
    font-family: 'Roboto Slab';
   
}



/*p{
  display: block;
 -webkit-margin-before: 2px;
 -webkit-margin-after: 2px;
 -webkit-margin-start: 0px;
 -webkit-margin-end: 0px;
}*/

.maindiv {
    background-color: #F1F6F9;
    border-radius: 2px;
    padding: 2% 2% 2% 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 96%;
    height: 100%;
}

maindiv.first-div {
    /*float:left;*/
    background-color: #F1F6F9;
    box-shadow: inset 0 0.4rem 0 #668AE8;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    font-size: 1em;
    padding-top: 1px;
}

/*maindiv.second-div{    
  float:left; 
  background-color: #fff;
  box-shadow: inset 0 0.4rem 0 #668AE8;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  font-size: 1rem;
  padding-top:1px;
   width:48%;
}*/

/*div-chat{
    float: left; 
    text-align: center;
    width:10%;
}*/

/*divchat.p-chat{
    align-content:center;
    color: #668AE8;
    font-size:2em;
}*/


/*imgdiv.imgcross{
    float:left;
    padding-top: 12px;
}*/

.comment-section {
    padding-left: 20px;
    list-style: none;
    max-width: 800px;
    width: 100%;
    margin: 30px auto;
    padding: 10px;
    float: left;
}

.comment {
    display: flex;
    border-radius: 3px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

    .comment.user-comment {
        color: black;
 
       
    }

    .comment.author-comment {
        color: black;
        justify-content: flex-end;
       font-family: 'Roboto Slab', serif;
    }

    /* User and time info */

    .comment .info {
        width: 17%;
    }

    .comment.user-comment .info {
        text-align: right;
    }

    .comment.author-comment .info {
        order: 3;
    }


    .comment .info a { /* User name */
        display: block;
        text-decoration: none;
        color: #656c71;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 10px 0 3px 0;
    }

    .comment .info span { /* Time */
        font-size: 11px;
        color: #9ca7af;
    }


    /* The user avatar */

    .comment .avatar {
        width: 8%;
    }

    .comment.user-comment .avatar {
        padding: 10px 18px 0 3px;
    }

    .comment.author-comment .avatar {
        order: 2;
        padding: 10px 3px 0 18px;
    }

    .comment .avatar img {
        display: block;
        border-radius: 50%;
    }

    .comment.user-comment .avatar img {
        float: right;
    }

    /* The comment text */

    .comment p {
        line-height: 1.5;
        padding: 18px 22px;
        width: 500px;
        position: relative;
        word-wrap: break-word;
        border-radius: 5px;
        font-size: 1em;
        text-align:left;
    }

    .comment.user-comment p {
        /*background-color:  #f3f3f3;*/
        background-color: #E9EEFB;
    }

    .comment.author-comment p {
        /*background-color:  #e2f8ff;*/
        background-color: #F8EEFB;
        order: 1;
    }

.user-comment p:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #f3f3f3;
    left: -8px;
    top: 18px;
}

.author-comment p:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #e2f8ff;
    right: -8px;
    top: 18px;
}




/* Comment form */

.write-new {
    margin: 10px auto 0;
    width: 50%;
    margin-left: 13%;
}

    .write-new textarea {
        color: #444;
        font: inherit;
        outline: 0;
        border-radius: 3px;
        border: 1px solid #cecece;
        background-color: #fefefe;
        box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
        overflow: auto;
        width: 500px;
        min-height: 80px;
        padding: 15px 20px;
    }

    .write-new img {
        border-radius: 50%;
        margin-top: 15px;
    }

    .write-new button {
        float: right;
        /*background-color:  #87bae1;*/
        background-color: #6486EA;
        box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
        border-radius: 2px;
        border: 0;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 25px;
        margin-top: 18px;
    }


/* Responsive styles */

@media (max-width: 800px) {
    /* Make the paragraph in the comments take up the whole width,
    forcing the avatar and user info to wrap to the next line*/
    .comment p {
        width: 100%;
    }

    /* Reverse the order of elements in the user comments,
    so that the avatar and info appear after the text. */
    .comment.user-comment .info {
        order: 3;
        text-align: left;
    }

    .comment.user-comment .avatar {
        order: 2;
    }

    .comment.user-comment p {
        order: 1;
    }

    /* Align toward the beginning of the container (to the left)
    all the elements inside the author comments. */
    .comment.author-comment {
        justify-content: flex-start;
    }


    .comment-section {
        margin-top: 10px;
    }

    .comment .info {
        width: auto;
    }

        .comment .info a {
            padding-top: 15px;
        }

    .comment.user-comment .avatar,
    .comment.author-comment .avatar {
        padding: 15px 10px 0 18px;
        width: auto;
    }

    .comment.user-comment p:after,
    .comment.author-comment p:after {
        width: 12px;
        height: 12px;
        top: initial;
        left: 28px;
        bottom: -6px;
    }

    .write-new {
        width: 100%;
    }
}

.tabs {
    float: left;
    width: 20%;
}

    .tabs ul, ul {
        list-style: none;
    }

    .tabs li {
        padding: 6px;
        width: 100%;
        background: #fff;
        /*background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(lightgray));*/
        /*  background: -moz-linear-gradient(top, white, lightgray);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E0E0E0');
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
        /*text-transform: uppercase;*/
        cursor: pointer;
        font-size: 1em;
        border-radius: 5px 5px 0 0;
    }




        .tabs li.selected a {
            color: white;
            cursor: default;
        }

        .tabs li a {
            min-width: 150px;
            width: 80%;
            display: inline-block;
            text-decoration: none;
            font-weight: bold;
            font-size: 0.8em;
            outline: none;
            -webkit-user-select: none;
            -moz-user-select: none;
        }

.namesoftab {
    color: #668AE8;
    
}

.horizontal nav {
    width: 100%;
}

.horizontal ul {
    padding: 0;
    margin: 0;
}

.horizontal nav li {
    min-width: 15%;
    width: auto;
    float: left;
    text-align: center;
}

.tabBorder {
    border: 1px solid white;
    border-top: solid; 
    border-top-color: #668AE8; 
    border-top-width: 0.2em; 
    border-radius: 100%; 
}

.userName {
    float: left;
    color: rgb(0,0,238);
    margin-left: 2px;
    font-size: medium;
    font-weight: 600;
}


.userNamePink {
    float: left;
    color: #BA7FCB;
    margin-left: 2px;
    font-size: medium;
    font-weight: 600;
}

.pingTime {
    float: right;
    font-size: 14px;
    color: #9ca7af;
}

::-webkit-scrollbar {
    width: 3px; /* for vertical scrollbars */
    height: 5px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 255, 0.5);
    border-radius: 10%;
}
